/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2017, 17:21:05
    Author     : AHISSOU Florent
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 sept. 2017, 17:35:48
    Author     : AHISSOU Florent
*/

.block .head {
    background: url(./images/styles/default/backgrounds/box-head.jpg.xhtml) left top repeat-x!important;
    background-clip: padding-box!important;
    border: 1px solid #335A85!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
    height: 40px!important;
}

.enteteTable >h2 {
    font-size: 21px!important;
    margin-top: 2px!important;
    color: #fff;
    line-height: 0px;
    padding: -2px 0px;
    font-weight: bold;
    margin-left: 29px;
    position: absolute;
    top: 28px;
}

.clearfix .buttons >li{
    width: 2%!important;
    position: absolute;
    top: 18px;
}

/*.glyphicon{
   color: #fff;
}*/
#ajoutListForm .glyphicon{
    color: #fff!important;
}
.enteteTable .glyphicon {
    top: 11px;
    margin-left: 6px;
}

.block{
    background-color: transparent!important;
}

.block, .block-fluid {
    margin-bottom: 0px!important;
}

.table-sorting{
    width: 100%;
    top: 0px;
    /*right: 220px;*/
    float: right;
}

.ui-datatable table {
    table-layout: initial!important;
}

.ui-datatable table, thead {
    border: 1px solid #ddd!important;    
}

a.btn{
    padding: 1px 4px!important;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 14px!important;
}

.modal-header {
    background: url(./images/styles/default/backgrounds/box-head.jpg.xhtml) left top repeat-x!important;
    padding-bottom: 27px!important;
    border: white!important;
}

.modal-header .close {
    margin-top: -3px!important;
}

.modal-title {
    margin: -9px!important;
    line-height: 1.42857143;
    color: white!important;
}

.modal-footer {
    padding: 9px!important;
    border-top: 1px solid #ada8a8;
    background-color: #e5e5e5;
}

.modal-footer .btn-success, .modal-footer .btn-default{
    background: #4786b8!important;
    border-color: #426684!important;
    height: 20px!important;
}

.modal-footer .btn .glyphicon{
    position: relative!important;
    top: 1px!important;
}

.ui-datatable .ui-sortable-column, th.ui-state-default:first-child, .ui-datatable thead th {
    border: 1px solid #ddd!important;
}

h2 {
    font-size: 21px!important;
    margin-top: 2px!important;
    color: #fff;
    line-height: 0px;
    padding: -2px 0px;
    font-weight: bold;
    margin-left: 10px;
}

.clearfix .buttons >li{
    width: 2%!important;
    position: absolute;
    top: 18px;
}

/*.glyphicon {
   color: #fff;
}*/

.ui-icon {
    background-image: url(./images/ui/ui-icons_222222_256x240.png.xhtml)!important;
    /*text-indent: -4px!important;*/
}

.ui-datatable tbody.ui-datatable-data{
    border: #ddd!important;
}

.ui-datatable-tablewrapper{
    width: 100.2%;
    position: relative!important;
    right: 1px!important;
}

#ajoutListForm table tr:nth-child(2n+1) td {
    background-color: rgba(226, 223, 223, 0.23)!important;
}

[class*="block"] .table tr td {
    background-color: #F9F9F9!important;
}

.ui-datatable tbody td a{
    border-radius: 4px!important;
}

.modal-footer .btn-default{
    color: white!important;
}

.modal-footer .btn{
    padding: 0px 14px!important;
    margin-bottom: 4px!important;
    font-size: 10px!important;
    line-height: 12px!important;
}

.valideTable{
    margin-left: 10px!important;
    position: relative;
    top: 2px;
    right: -615px;
}

.editTable{
    position: relative;
    top: -2px!important;
    right: 3px;
}

.btn-recherch{
    width: 72px!important;
    height: 30px!important;
    position: absolute!important;
    top: 0px;
    right: 273px!important;
    background-color: #e6e0e0!important;

}

.ui-button-text-only .ui-button-text {
    padding: 0.1em 0.1em!important;
}

.selectgp{
    position: relative!important;
    top: -11px;
    right: 10px;
}

.footerbase{
    position: relative!important;
    width: 77%!important;
    right: -259px!important;
    top: -17px!important;
    background: transparent!important;
    border-color: transparent!important;
    font-size: 11px!important;
}

.titles{
    font-size: 36px!important;
}
.titles1{
    font-size: 25px!important;
}

.titles2{
    font-size: 15px!important;
}