<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <mime-mapping>  
        <extension>woff2</extension>  
        <mime-type>application/x-font-woff2</mime-type>  
    </mime-mapping>
    
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
     <error-page>
        <error-code>403</error-code>
        <location>/authenticate/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/authenticate/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/authenticate/500.xhtml</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/authenticate/503.xhtml</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/authenticate/504.xhtml</location>
    </error-page>
    <security-constraint>
        <display-name>CommonConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>commonZone</web-resource-name>
            <description>Accès commun</description>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/authenticate/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
            <role-name>DIRECTEURS</role-name>
            <role-name>RESPONSABLES</role-name>
            <role-name>CSA</role-name>
            <role-name>SECRETAIRE</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>adminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>adminZone</web-resource-name>
            <description>Zone d'administration</description>
            <url-pattern>/Administration/*</url-pattern>
            <url-pattern>/Administration/utilisateur/profil/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>DirecteurConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>DirecteurZone</web-resource-name>
            <description>Zone Directeur</description>
            <url-pattern>/inscription/*</url-pattern>
            <url-pattern>/insertionconsultation/*</url-pattern>
            <url-pattern> /insertionconsultation/notes/*</url-pattern>
            <url-pattern>/programmerCours/*</url-pattern>
            <url-pattern>/etats/*</url-pattern>
            <url-pattern>/Administration/utilisateur/profil/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>DIRECTEURS</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>secretaireConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>secretaireZone</web-resource-name>
            <description>Zone secretaire</description>
            <url-pattern>/insertionconsultation/notes/inserernotes/*</url-pattern>
            <url-pattern>/etats/historiques/*</url-pattern>
            <url-pattern>/etats/relevesnotes/*</url-pattern>
            <url-pattern>/etats/attestationsucces/*</url-pattern>
            <url-pattern>/Administration/utilisateur/profil/*</url-pattern>
            
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>SECRETAIRE</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>csaConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>csaZone</web-resource-name>
            <description>Zone csa</description>
            <url-pattern>/inscription/inscription/*</url-pattern>
            <url-pattern>/inscription/reinscriptions/*</url-pattern>
            <url-pattern>/inscription/formatfichier/*</url-pattern>
            <url-pattern>/etats/rechercheravancee/*</url-pattern>
            <url-pattern>/Administration/utilisateur/profil/*</url-pattern>
            
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>CSA</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>securityGestionNotes</realm-name>
        <form-login-config>
            <form-login-page>/authenticate/login.xhtml</form-login-page>
            <form-error-page>/authenticate/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-role>
        <description>Administrateur d'application</description>
        <role-name>ADMIN</role-name>
    </security-role>
    
     <security-role>
        <description>Directeurs</description>
        <role-name>DIRECTEURS</role-name>
    </security-role>
    
    <security-role>
        <description>Responsables</description>
        <role-name>RESPONSABLES</role-name>
    </security-role>
    
    <security-role>
        <description>Csa</description>
        <role-name>CSA</role-name>
    </security-role>
    
    <security-role>
        <description>secretaire</description>
        <role-name>SECRETAIRE</role-name>
    </security-role>
    
    
    
</web-app>
